
.vbox-contenuto {
    -fx-background-color: #f2f8ff;
    -fx-padding: 15;
    -fx-border-color: #a0c4ff;
    -fx-border-radius: 6;
    -fx-border-width: 2;
}

.vbox-contenuto Label {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #2a2a2a;
}

.vbox-contenuto Button{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #2a2a2a;
    -fx-pref-width: 300px;
    -fx-text-fill: white;
      -fx-background-color: #ff9800;
}

.vbox-contenuto TextArea,
.vbox-contenuto TextField,
.vbox-contenuto DatePicker {

    -fx-border-color: #cccccc;
    -fx-border-radius: 4;
    -fx-pref-width: 300px;
}


#addPatologiaButton{
    fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-background-color: #ad343e;
}
#addSintomoButton{
    fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-background-color: #9caf39;
}
#addTerapiaButton{
    fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-background-color: #f2af29;
}


.eliminaButtonPatologia{
        fx-text-fill: white;
            -fx-font-weight: bold;
            -fx-background-color: #ad343e;
}
.eliminaButtonSintomo{
        fx-text-fill: white;
            -fx-font-weight: bold;
            -fx-background-color: #9caf39;
}
.eliminaButtonTerapia{
        fx-text-fill: white;
            -fx-font-weight: bold;
            -fx-background-color: #f2af29;
}

.salvaButtonPatologia{
     fx-text-fill: white;
                -fx-font-weight: bold;
                -fx-background-color: #ad343e;
}

.salvaButtonSintomo{
     fx-text-fill: white;
                -fx-font-weight: bold;
                -fx-background-color: #9caf39;
}

.salvaButtonTerapia{
     fx-text-fill: white;
                -fx-font-weight: bold;
                -fx-background-color: #f2af29;
}