/* Stile base del ListView */
.list-view {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-padding: 5;
}

/* Celle di default */
.list-cell {
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #e0e0e0 transparent;
    -fx-border-width: 0 0 1 0;
}

/* Celle di messaggi ricevuti */
.list-cell.messaggio-ricevuto {

     -fx-background-radius: 10;
     -fx-padding: 5 5 5 30; /* 30 di padding a sinistra */

}

/* Celle di messaggi inviati */
.list-cell.messaggio-inviato {
    -fx-background-color: #e6f0ff;
    -fx-background-radius: 10;
    -fx-padding: 5 5 5 50; /* più spazio a sinistra */
}

/* Celle di avviso non aderenza */
.list-cell.avviso-nonaderenza {

    -fx-background-radius: 10;
    -fx-padding: 5 50 5 5;
}

/* Hover */
.list-cell:hover {
    -fx-background-color: #e0e0e0;
}

/* Label in grassetto per data e ora */
.label.data-ora {
    -fx-font-weight: bold;
}

/* Label corpo messaggio */
.label.corpo {
    -fx-padding: 3 0 0 0;
}

/* Celle selezionate */
.list-cell:selected {
    -fx-background-color: #cce5ff;
}

.Vbox.

