.sidebar-hbox Button {
    -fx-background-color: white;
    -fx-background-radius: 15; /* angoli più arrotondati */
}

.sidebar-hbox Button .menu-label {
    -fx-text-fill: #1e3746; /* testo scuro di default */
}

.sidebar-hbox Button.active {
    -fx-background-color: #1e3746;
    -fx-background-radius: 15; /* angoli più arrotondati */
}


.sidebar-hbox Button.active .menu-label {
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: white;
    -fx-text-fill: #1e3746;
}

.combo-box:focused, .combo-box:armed {
    -fx-background-color: #1e3746;
    -fx-text-fill: white;
}

.combo-box .combo-box-button-cell {
    -fx-text-fill: inherit;
}

.combo-box .list-cell {
    -fx-text-fill: #1e3746;
    -fx-background-color: white;
}

.combo-box .list-cell:hover, .combo-box .list-cell:focused {
    -fx-background-color: #d0e1f9;
    -fx-text-fill: #1e3746;
}

.combo-box.active {
    -fx-background-color: #1e3746;
    -fx-text-fill: white;
}